@model Bumbodium.Data.Availability[]
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Beschikbaarheid</h1>
    @(await Html.RenderComponentAsync<Bumbodium.WebApp.Views.Shared.Components.AvailabilityComponent>(RenderMode.ServerPrerendered, new { Availabilities = Model }))
</div>