html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.schedule {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.schedule-times {
    display: flex;
    flex-direction: row;
}

.time-div{
    border: 1px solid black;
    font-size: 32px;
    padding: 5px;
}

.time-block{
    width: 172px;
    border: 1px solid black;
}

.login-bg{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.scheduletable {
    border: 1px solid;
}

    .scheduletable td, .scheduletable th {
        width: 100px;
        height: 50px;
    }

    .scheduletable tr {
        border-bottom: 1px solid black;
    }
