<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bumbodium</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/prism-okaidia.css" />
    <link rel="stylesheet" href="~/Bumbodium.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <!--Full Calendar Scripts-->
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="~/js/main.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.IsInRole("Manager"))
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="WeekSchedule" asp-action="Index">Week rooster</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Standard" asp-action="Index">Normering</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Forecast" asp-action="Index">Prognose</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ExcelExport" asp-action="Index">Verloning</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Clocking" asp-action="Index">Kloktijden</a>
                                </li>

                            }
                            @if (User.IsInRole("Employee"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Availability" asp-action="Index">Beschikbaarheid</a>
                                </li>
                                      <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ClockingEmployee" asp-action="Index">Kloktijden</a>
                                </li>
                                
                            }
                        </ul>
                        <ul class="navbar-nav flex-grow-1 position-absolute end-0 ">
                            <li class="nav-item">
                                <p class="m-0">Ingelogd als @User.Identity.Name</p>
                                @if (User.IsInRole("Manager"))
                                {
                                    <p class="m-0">Manager</p>
                                }
                                @if (User.IsInRole("Employee"))
                                {
                                    <p class="m-0">Werknemer</p>
                                }
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Log uit</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <base href="~/" />
    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/prism.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>