@model LoginModel

<h2>Login</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" asp-controller="Account" method="post">
            <div class="col-form-label-lg">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-form-label-lg">
                <label asp-for="Password">Wachtwoord</label>
                <input asp-for="Password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn bg-secondary">Login</button>
        </form>
    </div>
</div>