@model LoginModel

<h2>Login</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" asp-controller="Account" method="post">
            <div class="col-form-label-lg">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-form-label-lg">
                <label asp-for="Password">Wachtwoord</label>
                <input asp-for="Password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn bg-secondary">Login</button>
        </form>
    </div>
    <!-- debug buttons-->
    <a class="btn alert-warning" asp-action="DebugEmployeeLogin" asp-controller="Account">Debug employee login (Henk Henk)</a>
    <a class="btn alert-danger" asp-action="DebugManagerLogin" asp-controller="Account">Debug Manager login (Johnny Vos)</a>
    <a class="btn alert-warning" asp-action="DebugEmployee15Login" asp-controller="Account">Debug 15 jaar oud login (Bliksem Snel)</a>
    <a class="btn alert-danger" asp-action="DebugEmployee17Login" asp-controller="Account">Debug 17 jaar oud login (Lobbus Goodboy)</a>
</div>