@model ForecastViewModel

<h1>Prognose</h1>
<hr>
<br />
<form action="/Forecast/ChangeInput" method="post">
    <input hidden asp-for="StartOfWeekDate" />
    <div class="container">
        <div class="row">
            <div class="col-md-3 p-0 bg-white">
                <ul class="list-group-flush p-0">
                    <li class="list-group-item mb-1 bg-black text-black"> - </li>
                    <li class="list-group-item mb-1">verwachte klanten</li>
                    <li class="list-group-item mb-4">verwachte colis</li>
                    <li class="list-group-item mb-0">
                        <p class="mb-1">Totaal verwachte medewerkers</p>
                    </li>
                    <li class="list-group-item">
                        <p class="mb-2">Totaal verwachte uren</p>
                    </li>
                </ul>
            </div>
            @foreach (var forecastDay in Model.ForecastWeek)
            {
                <div class="col text-center p-0 bg-light ">
                    <ul class="list-group-flush p-0">
                        <li class="list-group-item bg-black text-light mb-1">@forecastDay.Key.ToString("dd/MM")</li>

                        <li class="list-group-item mb-1">
                            <input class="text-center" style="width:85%" asp-for="ForecastWeek[forecastDay.Key].AmountExpectedCustomers">
                            <span asp-validation-for="ForecastWeek[forecastDay.Key].AmountExpectedCustomers" class="text-danger"></span>
                        </li>
                        <li class="list-group-item mb-3">
                            <input class="text-center" style="width:85%" asp-for="ForecastWeek[forecastDay.Key].AmountExpectedColis">
                            <span asp-validation-for="ForecastWeek[forecastDay.Key].AmountExpectedColis" class="text-danger"></span>
                        </li>

                        <li class="list-group-item">@Model.CountTotaalEmplyeesPerDay(forecastDay.Key)</li>
                        <li class="list-group-item mb-2">@Model.CountTotaalHoursPerDay(forecastDay.Key)</li>
                    </ul>
                </div>
            }

        </div>
        <br />
        <div class="row pb-0">
            <div class="col text-center p-0 ">
                <button type="submit" class="btn btn-primary btn-outline-warning">Maakt een nieuwe prognose aan!</button>
            </div>
        </div>
    </div>
</form>
