@model Bumbodium.WebApp.Models.AccountViewModel


<div class="container-fluid">
    <div class="col-md-4 p-3">
        <h2>Login</h2>
        <form asp-action="Login" class="col-md-4 p-3">
            <label asp-for="Username"></label>
            <input asp-for="Username" placeholder="Username" />
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" placeholder="Wachtwoord" />
            <br />
            <input type="submit" class="btn" />
        </form>
    </div>
</div>
