@model Bumbodium.WebApp.Models.WeekShiftsViewModel
@using System.Globalization
<br />

@if(Model.WeeklyShifts.Count == 0) {

    <p>Je hebt de aankomende week geen shifts!</p>

} else {
    <p>Je werkt de aankomende week de volgende shifts:</p>
}


<table>
