@model ClockingItemViewModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
    <div class="col" style="padding: 5px;">Gijs van der Velden</div>
</div>
