@model Bumbodium.WebApp.Models.ClockingView.ClockingManagerViewModel

<h1>Klock uren van @Model.ClockingDateTime</h1>
<br />

<div class="container justify-content-center">
    <div class="row m-0 bg-light rounded-3">
        <div class="col-lg-5 m-auto p-auto text-center">
            <form asp-action="IndexManager" method="post">
                <input class="m-3" type="date" asp-for="ClockingDateTime" onchange="this.form.submit()" required />
            </form>
        </div>
        <div class="col-lg-5 m-auto p-auto text-center">
            <a asp-controller="Clocking" asp-action="AddClockingHour" asp-route-date="@Model.ClockingDateTime" class="btn btn-lg btn-primary btn-outline-warning m-3 ">voeg aanwezigheid toe</a>
        </div>
    </div>
</div>

<br />

@if (Model.ClockingDay.Count > 0)
{
    <form asp-action="SaveNewTimes" method="post">
        <input type="hidden" asp-for="ClockingDateTime" />
        <div class="container justify-content-center m-3">
            @foreach (var day in Model.ClockingDay)
            {
                <div class="row bg-black">
                    <h4 class="col-auto p-3 mb-auto text-white">@day.Key</h4>
                </div>
                @for (var i = 0; i < day.Value.Count; i += 2)
                {
                    <input hidden asp-for="ClockingDay[day.Key][i].PresenceId" />
                    <div class="row p-1 bg-white">
                        <div class="col d-flex justify-content-start"><h5 class="m-2">Begin tijd :</h5><input type="time" asp-for="ClockingDay[day.Key][i].ClockStartTime" /></div>
                        <div class="col d-flex justify-content-start"><h5 class="m-2">Eind tijd :</h5><input type="time" asp-for="ClockingDay[day.Key][i].ClockEndTime" /></div>
                        <div class="col d-flex justify-content-start"><h5 class="m-2">werknemer is ziek :</h5><input type="checkbox" asp-for="ClockingDay[day.Key][i].IsSick" /></div>
                    </div>
                    @if (day.Value.Count > i + 1)
                    {
                        <input hidden asp-for="ClockingDay[day.Key][i+1].PresenceId" />
                        <div class="row p-1 bg-light">
                            <div class="col d-flex justify-content-start"><h5 class="m-2">Begin tijd :</h5><input type="time" asp-for="ClockingDay[day.Key][i+1].ClockStartTime" /></div>
                            <div class="col d-flex justify-content-start"><h5 class="m-2">Eind tijd :</h5><input type="time" asp-for="ClockingDay[day.Key][i+1].ClockEndTime" /></div>
                            <div class="col d-flex justify-content-start"><h5 class="m-2">werknemer is ziek :</h5><input type="checkbox" asp-for="ClockingDay[day.Key][i+1].IsSick" /></div>
                        </div>
                    }
                }
                <br />
            }
        </div>
        <br />
        <div>
            <input type="submit" class="btn btn-lg btn-primary btn-outline-warning m-3" value="veranderen klok uren opslaan">
        </div>
    </form>
}
else
{
    <br />
    <div>
        <h1 class="text-center"> Er zijn geen klok uren van @Model.ClockingDateTime.ToString("dd/MM/yyyy")</h1>
    </div>

}