<div class="container">

    <div class="col">

        <div class="row">
            <strong>week: 01-01-2023 / 07-01-2023</strong>
        </div>

        <div class="row">
            <p></p>
        </div>

        <div class="row">

            <div class="col">
                
                <h3>Kloktijden</h3>

                <div class="row">
                    <strong>02-01-2022</strong>
                    <p>ingeklokt om 12:54<br>uitgeklokt om 18:12</p>
                </div>

                <div class="row">
                    <strong>03-01-2022</strong>
                    <p>ingeklokt om 12:57<br>uitgeklokt om 19:00</p>
                </div>
                
                <div class="row">
                    <strong>03-01-2022</strong>
                    <p>ingeklokt om 12:57<br>uitgeklokt om 19:00</p>
                </div>

                <div class="row">
                    <strong>03-01-2022</strong>
                    <p>ingeklokt om 12:57<br>uitgeklokt om 19:00</p>
                </div>

                <div class="row">
                    <strong>03-01-2022</strong>
                    <p>ingeklokt om 12:57<br>uitgeklokt om 19:00</p>
                </div>

            </div>

            <div class="col">

                <h3>Roostertijden</h3>

                <div class="row">
                    <strong>02-01-2022</strong>
                    <p>van 13:00<br>tot 18:00</p>
                </div>

                <div class="row">
                    <strong>03-01-2022</strong>
                    <p>van 13:00<br>tot 18:00</p>
                </div>

                <div class="row">
                    <strong>03-01-2022</strong>
                    <p>van 13:00<br>tot 18:00</p>
                </div>

                <div class="row">
                    <strong>03-01-2022</strong>
                    <p>van 13:00<br>tot 18:00</p>
                </div>

                <div class="row">
                    <strong>03-01-2022</strong>
                    <p>van 13:00<br>tot 18:00</p>
                </div>

            </div>

        </div>

    </div>

</div>

