@using Bumbodium.Data.DBModels;
@model ScheduleEmployeeListViewModel
<div>

    <form asp-action="Index" method="post">
        <h4>Selecteer afdeling</h4>
        @Html.DropDownListFor(vm => vm.SelectedDepartment, Html.GetEnumSelectList<DepartmentType>(), new {@onchange="this.form.submit()"})
        <h4>Selecteer tijd</h4>
        <input onchange="this.form.submit()" asp-for="SelectedStartTime" type="time" />
        -
        <input onchange="this.form.submit()" asp-for="SelectedEndTime" type="time" />
        <h4>Selecteer medewerker</h4>
        @if (Model.AvailableEmployees == null || !Model.AvailableEmployees.Any())
        {
            <div>
                Geen werknemers gevonden die op dit moment in deze afdeling kunnen werken
            </div>
        }
        else
        {
            foreach (Employee employee in Model.AvailableEmployees)
            {
                if (employee.EmployeeID == Model.SelectedEmployeeId)
                {
                    <div>
                        <button>@employee.FullName</button>
                    </div>
                }
                <div>
                    <button asp-route-SelectedEmployeeId="@employee.EmployeeID" type="submit">@employee.FullName</button>
                </div>
            }
        }
    </form>
</div>