@model Bumbodium.Data.Shift[]
@{
    ViewData["Title"] = "Index";
    //var shiftList = Model.ToArray();
    //var len = shiftList.Length;
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>