@model Bumbodium.Data.Tasks
@{
    ViewData["Title"] = "Index";
}

<body>
    <header> 
        <div> <!--Week selecting + departments-->

        </div>
        <div> <!--Days + dates-->

        </div>
    </header>
    <section>
        <aside> <!--Times-->

        </aside>
        <div> <!--Time blocks-->

        </div>
    </section>
</body>