@model Bumbodium.Data.DBModels.Shift[]
@{
    ViewData["Title"] = "Index";
    //var shiftList = Model.ToArray();
    //var len = shiftList.Length;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @(await Html.RenderComponentAsync<Bumbodium.WebApp.Views.Shared.Components.ScheduleComponent>(RenderMode.ServerPrerendered))
</div>