@model Bumbodium.Data.DBModels.Shift[]
@{
    ViewData["Title"] = "Index";
    //var shiftList = Model.ToArray();
    //var len = shiftList.Length;
}

<div class="text-center">
    @(await Html.RenderComponentAsync<Bumbodium.WebApp.Views.Shared.Components.ScheduleComponent>(RenderMode.ServerPrerendered))
</div>