@model Bumbodium.Data.Shift
@{
    ViewData["Title"] = "Index";
}

<body>
    <header> 
        <div> <!--Week selecting + departments-->

        </div>
        <div> <!--Days + dates-->

        </div>
    </header>
    <section class="schedule-times">
        <aside> <!--Times-->
            @for(int i = 8; i < 23; i++)
            {
                <div class="time-div">@i:00</div>
            }
        </aside>
        <div class="schedule"> <!--Time blocks-->
            @for(int i = 0; i < 105; i++)
            {
                <div class="time-block"></div>
            }
        </div>
    </section>
</body>