@model Bumbodium.WebApp.Models.DayShiftsViewModel
@using System.Globalization;

<table class="scheduletable">
        @foreach (var shift in Model.Planning)
        {
            <tr>
                <td style="width: 400px;">@shift.EmployeeId, @shift.StartTime.ToString("HH:mm")-@shift.EndTime.ToString("HH:mm")</td>
                @{int empty = Model.GetEmptyStart(shift.StartTime);
                int workhours = Model.GetWorkHours(shift.StartTime, shift.EndTime);
                int emptyend = ((Model.ClosingTime.Hour - Model.OpenTime.Hour)*2) - workhours - empty;}

                @for (int i = 0; i < empty; i++)
                {
                    <td style="background: white;"></td>
                }

                @for (int j = 0; j < workhours; j++)
                {
                    <td style="background: Green;"></td>
                }

                @for (int k = 0; k < emptyend; k++)
                {
                    <td style="background: white;"></td>
                }
            </tr>
        }




</table>
@* int NotWorkingBefore = (Model.OpenTime - shift.StartTime) * 2 -> make cells white (employee not working)
    int WorkingHours = (shift.EndTime - shift.StartTime) * 2 -> Color cells based on department (employee working)
    int NotWorkingHoursAfter (Model.ClosedTime - shift.EndTime) * 2 -> make cells white (employee not working) *@

