@model Bumbodium.WebApp.Models.DayShiftsViewModel
@using System.Globalization;

<table class="scheduletable">


        <tr>
        @for(int i = 0; i < 3; i++) {
        <td style="background: white;"></td>
        } 
     
        @for(int j = 0; j < 8; j++) {
        <td style="background: blue;"></td>
        }
       
        @for(int k = 0; k < 5; k++) {
            <td style="background: white;"></td>
        }
        </tr>


</table>
    @* int NotWorkingBefore = (Model.OpenTime - shift.StartTime) * 2 -> make cells white (employee not working)
    int WorkingHours = (shift.EndTime - shift.StartTime) * 2 -> Color cells based on department (employee working)
    int NotWorkingHoursAfter (Model.ClosedTime - shift.EndTime) * 2 -> make cells white (employee not working) *@ 
    
