@using Microsoft.AspNetCore.Components
@using Bumbodium.Data.DBModels
@inject DialogService DialogService

<RadzenTemplateForm TItem="Availability" Data="@model" Submit=@OnSubmit>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Start" />
        </div>
        <div class="col">
            <RadzenDatePicker @bind-Value="@model.StartDateTime" Name="Start" ShowTime="true" />
            <RadzenRequiredValidator Text="Start is verplicht" Component="Start" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Eind" />
        </div>
        <div class="col">
            <RadzenDatePicker Name="End" @bind-Value="@model.EndDateTime" ShowTime="true" />
            <RadzenRequiredValidator Component="End" Text="End is verplicht" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Type" />
        </div>
        <div class="col">
            <RadzenSelectBar @bind-Value=@model.Type TValue="AvailabilityType">
                <Items>
                    <RadzenSelectBarItem Text="School uren" Value="AvailabilityType.Schoolhours" Style="color: red;" />
                    <RadzenSelectBarItem Text="Verlof" Value="AvailabilityType.Leave" Style="color: blue;" />
                    <RadzenSelectBarItem Text="Vakantie" Value="AvailabilityType.Holidays" Style="color: green;" />
                </Items>
            </RadzenSelectBar>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Opslaan" />
        </div>
    </div>
</RadzenTemplateForm>
@code {
    [Parameter]
    public Availability Availability { get; set; }

    Availability model = new();

    protected override void OnParametersSet()
    {
        model = Availability;
    }

    void OnSubmit(Availability model)
    {
        DialogService.Close(model);
    }
}