@using Microsoft.AspNetCore.Components
     <h3>Blazor Component in MVC</h3>
     <RadzenButton Click="@Test" Text="Click to get answer"></RadzenButton>
     <br />
     <div >@Data </div>
@code {
    [Parameter]
    public string Data { get; set; } = string.Empty;
    private void Test()
    {
        Data = "Button Clicked";
    }
 }   